apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubevirt-redfish

resources:
  - ./namespace.yaml

helmGlobals:
  chartHome: ./charts

helmCharts:
  - name: kubevirt-redfish
    namespace: kubevirt-redfish
    releaseName: kubevirt-redfish
    valuesFile: values.yaml
                      
        