      
projects: {}

applications:  

  openshift-config:
    annotations:
      argocd.argoproj.io/sync-wave: '16'
      argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true,IgnoreExtraneous      
    source:
      path: clusters/etl7/overlays/openshift-config

# Networking

  nmstate-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    source:
      path: clusters/etl7/overlays/nmstate-configuration

  metallb-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: metallb-system
    source:
      path: clusters/etl7/overlays/metallb-configuration      

# Storage

  trident-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: netapp-trident
    source:
      path: clusters/etl7/overlays/trident-configuration  

  odf-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    source:
      path: components/odf-operator

  # odf-configuration:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: openshift-storage
  #   source:
  #     path: components/odf-configuration       


# percona demo

  percona-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'     
    source:
      path: clusters/etl6/overlays/percona-operator

  percona-instance:
    annotations:
      argocd.argoproj.io/sync-wave: '10'     
    source:
      path: clusters/etl7/overlays/percona-instance
    extraFields: |
      ignoreDifferences:
      - group: apps
        kind: Deployment
        name: quarkus-petclinic
        jsonPointers:
          - /spec/replicas                                 