[Unit]
Description=SPIFFE Helper (SVID and JWT extraction)
After=spire-agent.container
Requires=spire-agent.container

[Container]
Image=ghcr.io/spiffe/spiffe-helper:0.11.0
ContainerName=spiffe-helper
PodmanArgs=--pid=host
User=10002:10003
Volume=/run/spire/sockets:/run/spire/sockets:ro,z
Volume=/var/run/secrets/spiffe:/var/run/secrets/spiffe:z
Volume=/etc/spiffe-helper/helper.conf:/etc/spiffe-helper/helper.conf:ro,z
Exec=-config /etc/spiffe-helper/helper.conf

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target
