[Unit]
Description=SPIRE Agent (x509pop attestation)
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/spiffe/spire-agent:1.14.7
ContainerName=spire-agent
PodmanArgs=--pid=host
User=10001:10001
Volume=/etc/spire/bootstrap:/etc/spire/bootstrap:ro,z
Volume=/run/spire/sockets:/run/spire/sockets:z
Volume=/etc/spire/agent.conf:/etc/spire/agent.conf:ro,z
Volume=/var/lib/spire/data:/opt/spire/data:z
Exec=-config /etc/spire/agent.conf

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
