[Unit]
Description=Vault Agent (JWT auto-auth, secret templating)
After=spiffe-helper.container
Requires=spiffe-helper.container

[Container]
Image=docker.io/hashicorp/vault:1.20.4
ContainerName=vault-agent
Environment=SKIP_SETCAP=1
User=10004
GroupAdd=10003
Volume=/var/run/secrets/spiffe:/var/run/secrets/spiffe:ro,z
Volume=/var/www/html:/var/www/html:z
Volume=/var/run/vault:/var/run/vault:z
Volume=/etc/vault-agent/agent.hcl:/etc/vault-agent/agent.hcl:ro,z
Exec=vault agent -config=/etc/vault-agent/agent.hcl

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
