      
projects: {}

applications: 

# Basics

  openshift-config:
    annotations:
      argocd.argoproj.io/sync-wave: '16'
    destination:
      namespace: openshift-config      
    source:
      path: clusters/hub/overlays/openshift-config

  reflector-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: reflector-operator      
    source:
      path: components/reflector-operator      

# Networking

  metallb-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: metallb-system
    source:
      path: clusters/hub/overlays/metallb-configuration

  nmstate-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: metallb-system
    source:
      path: clusters/hub/overlays/nmstate-configuration  

# Storage

  trident-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: netapp-trident
    source:
      path: clusters/hub/overlays/trident-configuration

  # oadp-storage:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '6'
  #   destination:
  #     namespace: oadp-storage
  #   source:
  #     path: clusters/hub/overlays/oadp-storage     

# ACM
  acm-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: open-cluster-management
    source:
      path: components/acm-operator

  acm-instance:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    source:
      path: components/acm-instance


  acm-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    source:
      path: components/acm-configuration

  acm-observability:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    source:
      path: components/acm-observability

  gitops-boostrap-policy:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    namespace: acm-policies  
    source:
      path: components/gitops-boostrap-policy

# DR

  # odf-multicluster-operator:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '5'
  #   source:
  #     path: components/odf-multicluster-operator

  # acm-fusion-dr:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '25'
  #   source:
  #     path: components/acm-fusion-dr

  # vm-dr-test:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '35'
  #   source:
  #     path: clusters/hub/overlays/vm-dr-test  

  # trilio-object-store:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: trilio-system
  #   source:
  #     path: components/trilio-object-store 

  # trident-protect-object-store:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: trident-protect
  #   source:
  #     path: components/trident-protect-object-store               

# AAP          

  # aap-operator:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '5'
  #   source:      
  #     path: components/aap-operator

  # aap-configuration:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: aap
  #   source:
  #     path: components/aap-configuration

# MTV     

  mtv-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    source:
      path: components/mtv-operator

  mtv-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: openshift-mtv
    source:
      path: components/mtv-configuration

  ova-server:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    source:
      path: clusters/hub/overlays/ova-server


# Service Mesh 

  servicemesh-root-cert:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    source:
      path: clusters/hub/overlays/servicemesh-root-cert

# Managed Clusters

  etl4:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: etl4
    source:
      path: clusters/hub/overlays/cluster-etl4
    # extraFields: |
    #   ignoreDifferences:
    #     - group: 'metal3.io'
    #       kind: 'BareMetalHost'
    #       jsonPointers:
    #         - /metadata/annotations/baremetalhost.metal3.io~1detached

  etl6:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: etl6
    source:
      path: clusters/hub/overlays/cluster-etl6

  etl7:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: etl7
    source:
      path: clusters/hub/overlays/cluster-etl7

#percona DR demo

  # percona-root-cert:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '25'
  #   source:
  #     path: clusters/hub/overlays/percona-root-cert 

# bgp test 

  bgp-test:
    annotations:
      argocd.argoproj.io/sync-wave: '25'
    source:
      path: clusters/hub/overlays/bgp-test 

   