applications:     

# Basic
  kyverno-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
      argocd.argoproj.io/compare-options: IgnoreExtraneous,ServerSideDiff=true
    source:
      path: components/kyverno-operator   

  kyverno-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    source:
      path: groups/prod/overlays/kyverno-configuration      


## Virtualization

  openshift-virtualization:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    source:
      path: components/openshift-virtualization-operator

  hyperconverged-instance:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: openshift-cnv
    source:
      path: components/openshift-virtualization-instance

  descheduler-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    source:
      path: components/descheduler-operator  

  descheduler-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    destination:
        namespace: openshift-kube-descheduler-operator      
    source:
      path: components/descheduler-configuration     
    
    
    # disabled because not gitops friendly
  # wasp-agent:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '5'
  #   destination:
  #       namespace: wasp     
  #   source:
  #     path: components/wasp-agent

# HA

  node-health-check-operator:
    annotations:
      argocd.argoproj.io/sync-wave: '5'
    source:
      path: components/node-health-check-operator

  node-health-check-configuration:
    annotations:
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: openshift-workload-availability
    source:
      path: components/node-health-check-configuration   

  # trilio-operator:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '5'
  #   source:
  #     path: components/trilio-operator

  # trilio-instance:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: trilio-system
  #   source:
  #     path: components/trilio-instance


  # trilio-configuration:
  #   enableAutoSync: false
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '25'
  #   destination:
  #     namespace: trilio-system
  #   source:
  #     path: components/trilio-configuration
  #   extraFields: |
  #     ignoreDifferences:
  #       - group: 'triliovault.trilio.io'
  #         jsonPointers:
  #           - /spec/objectStoreCredentials/credentialSecret/resourceVersion
  #           - /spec/objectStoreCredentials/credentialSecret/uid
  #         kind: Target             

# Observability

  # power-monitoring-operator:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '5'
  #   source:
  #     path: components/power-monitoring-operator

  # power-monitoring-configuration:
  #   annotations:
  #     argocd.argoproj.io/sync-wave: '15'
  #   source:
  #     path: components/power-monitoring-configuration 

  openshift-tempo-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: openshift-tempo-operator
    source:
      path: components/openshift-tempo-operator

  openshift-tempo-instance:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: openshift-tempo-instance
    source:
      path: components/openshift-tempo-instance

  cluster-observability-configuration:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: openshift-observability
    source:
      path: components/cluster-observability-configuration

  otel-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: openshift-opentelemetry-operator
    source:
      path: components/otel-operator     

  otel-configuration:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: otel-collector
    source:
      path: components/otel-configuration
    extraFields: |
      ignoreDifferences:
      - group: opentelemetry.io
        kind: OpenTelemetryCollector
        jsonPointers:
          - /spec/config      
          
  openshift-grafana-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: openshift-grafana-operator
    source:
      path: components/openshift-grafana-operator

  user-workload-grafana-instance:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: openshift-user-workload-grafana-instance     
    source:
      path: components/user-workload-grafana-instance      

# service mesh

  # servicemesh-operator:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '5'     
  #   source:
  #     path: components/openshift-servicemesh-operator   

  # servicemesh-configuration:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '15'     
  #   source:
  #     path: components/openshift-servicemesh-configuration 

  # kiali-operator:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '5'
  #   destination:
  #     namespace: openshift-kiali-operator
  #   source:
  #     path: components/kiali-operator

  # kiali-configuration:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: istio-system
  #   source:
  #     path: components/kiali-configuration

  # openshift-connectivity-link-operator:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '5'     
  #   source:
  #     path: components/openshift-connectivity-link-operator 

  # openshift-connectivity-link-configuration:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: kuadrant-system           
  #   source:
  #     path: components/openshift-connectivity-link-configuration

  # kuadrant-coredns:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '15'
  #   destination:
  #     namespace: kuadrant-coredns           
  #   source:
  #     path: components/kuadrant-coredns

# mesh applications
  # bookinfo:
  #   annotations:
  #     argocd.argoproj.io/compare-options: IgnoreExtraneous
  #     argocd.argoproj.io/sync-wave: '25'
  #   destination:
  #     namespace: bookinfo
  #   source:
  #     path: components/bookinfo                     